div{
    width: 100px;
    height: 70px;
    border: 1px solid green;
    background-color: green;
    animation-name: css;
    animation-delay: 1s;
    animation-duration: 3s;
    border-radius: 10px;
    font-size: 50px;
    font-family: monospace;
}

@keyframes css{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px) rotate(-360deg)
    }
}