.x {
    color:antiquewhite;
}

.xx {
    color:rgb(156, 118, 68);
}

.xxx {
    color:rgb(87, 65, 36);
}

.xxxx {
    color:rgb(92, 41, 77);
}

.xxxxx {
    color:rgb(252, 159, 21);
}

.xxxxxx {
    color:rgb(145, 244, 6);
}

.xxxxxxx {
    color:rgb(249, 247, 244);
}

.xxxxxxxx {
    color:rgb(210, 131, 27);
}

.xxxxxxxxx {
    color:rgb(252, 8, 8);
}

.xxxxxxxxxx {
    color:rgb(172, 250, 226);
}

